footer.main-footer
  div.container-fluid
    span.muted.credit
      i.fa.fa-cc  Made by a(href='glutendesign.com', target='_blank') redgluten

a(href="#page-top", id="scrollup", style="display-block"): i.fa.fa-chevron-up
