extends layout

block content
  div.container
    div.jumbotron
      h1.text-center
        i.fa.fa-hand-peace-o  Yo Mama
      blockquote
        p There is more stupidity than hydrogen in the universe, and it has a longer shelf life.
        footer Frank Zappa
