body {
  font: 16px "Noto Serif", "Georgia", serif;
  -webkit-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
  -moz-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
  -ms-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
  font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
  text-rendering: optimizeLegibility;
  padding-top: 8rem;
}

a {
  color: #00B7FF;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  line-height: 1.5;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote footer {
  margin-top: 1rem;
  text-align: right;
}

.main-footer {
  border-top: 1px dotted gray;
  padding-top: 2rem;
  margin-top: 4rem;
}

.scrollup {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    background: blue;
    z-index: 910;
}
.scrollup::hover {
  background: #85bbe1;
}
.scrollup > i {
    position: relative;
    top: 5px;
    color: white;
}
